
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    font-family: 'JetBrains Mono', monospace;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #2d2d2d;
}

.wrapper {
    width: 400px;
    height: 600px;
    background-color: #D7C597;

    position: relative;

    &__inner {
        margin: 0 20px;
        padding: 10px 10px;
        border-left: 1px solid #2d2d2d;
        border-right: 1px solid #2d2d2d;

        display: flex;
        justify-content: space-between;
        input {
            width: 70%;
            height: 30px;

            background: none;
            border: 1px solid #2d2d2d;
            padding: 0 5px;
            font-family: 'JetBrains Mono', monospace;

            outline: none;

        }
        button {
            width: 29%;
            height: 30px;
            font-family: 'JetBrains Mono', monospace;

            background: none;
            border: 1px solid #2d2d2d;
            font-weight: 400;
            &:hover {
                background-color: #2d2d2d;
                color: #fff;
            }
        }
    }

    hr {
        height: 1px;
        border: none;
        background-color: #2d2d2d;
    }
    &__line {
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 100;
        width: 100%;
    }

    &__content {
        margin: 0 20px;

        border-left: 1px solid #2d2d2d;
        border-right: 1px solid #2d2d2d;
        height: 560px;

        padding: 10px 10px 30px 5px;
        h3 {
            font-size: 16px;
            font-weight: 600;
        }
        hr {
            margin: 15px 0;
        }
        &-none {
            text-align: center;
        }
        &-nones {
            text-align: center;
        }
        &-list {
            padding: 10px;
            border-top: 1px solid #2d2d2d;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .list-block {
                display: flex;
            }
            span {
                display: block;
                width: 30px;
                height: 30px;
                background-color: #2d2d2d;
                margin-left: 10px;
                color: #fff;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;

                &:hover {
                    background-color: #202020;
                }
            }
        }
        &-lists {
            margin-top: 10px;
        }
        &-finished {
            margin-top: 10px
        }
    }
}

.finished {
    text-decoration: line-through;
}
